// Import page-specific CSS files here.
@import "home";
ul {
  list-style-type: none;
}

.container {
align-items: center;
display: flex;
flex-direction: column;
}
.card-title {
  background-color: #CCC29F;
  outline-style: dashed;
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
}
.card-ticket{
  background-color: #C94D3F;
  width: 20%;
  display: flex;
  color: white;
  border-radius: 3px;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0px
}

.beatles {
  width: 10%;
  border-radius: 100%;
}
