.signin {
width: 80%;
display: flex;
justify-content: center;
}

.btn-primary {
background-color: #c94e40;
margin-top: 30px;
border-radius: 10px;
border:#c94e40;
display: flex;
flex-direction: column;
}

.btn-secondary {
  background-color: #CCC29F;
  border-radius: 10px;
  border: #CCC29F;
}

.sellform {
  width: 300%;
}

.formcard {
  border: #ccc29f65;
  border-radius: 5px;
  border-style: solid;
  padding: 25px;
  box-shadow: 3px 3px 3px #ccc29f65;
}
