.signin {
width: 80%;
display: flex;
justify-content: center;
}

.btn-primary {
background-color: #c94e40;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 10px;
border:#c94e40;
display: flex;
flex-direction: column;
}

.btn-secondary {
  background-color: #CCC29F;
  border-radius: 10px;
  border: #CCC29F;
}

.sellform {
  width: 150%;
}
