<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroudhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
    <input class="form form-control form-control-lg mt-3" type="text" placeholder="Search for an event or artist" aria-label=".form-control-lg example">
  </div>
</div>

<div class="container justify-content-center">
  <h3 class="header mt-5"><strong>Trending now</strong></h3>

  <div class="cards mt-3 justify-content-center">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'nxzero.jpg' %>)">
      NxZero
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'postmalone.jpg' %>)">
      Post Malone
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'imaginedragons.jpg' %>)">
      Imagine Dragons
    </div>
  </div>
</div>
