<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>The safest way to buy and sell tickets</h1>
    <input class="form form-control form-control-lg" type="text" placeholder="Search for an event or artist" aria-label=".form-control-lg example">
  </div>
</div>

<div class="container justify-content-center mt-5">
  <div class="header d-flex justify-content-center mb-5">

  </div>

</div>
