<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'backgroudhome.jpg' %>);">
  <div class="container justify-content-center">
    <h1>The safest way to buy and sell tickets</h1>
    <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: tickets_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control custom-width",
            placeholder: "Search for an artist"%>
    <% end %>
  </div>
</div>
  </div>
</div>

<div class="container justify-content-center">
  <h3 class="header mt-5"><strong>Tickets Available:</strong></h3>


  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2022/08/arctic-monkeys-e1661342211280.jpg?w=1200&h=675&crop=1)">
    15/03-Arctic Monkeys
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lastfm.freetls.fastly.net/i/u/ar0/9c02bbe02456376e7b1d6b5f03e4f440.jpg)">
    20/03-Pink Floyd
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://veja.abril.com.br/wp-content/uploads/2016/06/beatles-abbey-road-620-original2.jpeg?w=1200&h=900)">
    01/04-Beatles
  </div>
</div>






  </div>
</div>
