.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.artist {
  font-size: x-large;
  top: 10px;
  left: 10px;
  font-weight: bold;
  align-items: start;
}

.date {
  align-items: end;
  font-size: small;
  bottom: 10px;
  left: 10px;
  // align-items: center;
}

.city {
  align-items: end;
  font-size: small;
  bottom: 10px;
  left: 10px;
  // align-items: center;
}
