.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.artist-card {
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meta-data-card {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: end;
  z-index: 500;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  font-size: small;
  bottom: 10px;
  left: 10px;
}
